*{
  font-family:georgia,lato,serif;
}

.container{
  position:relative;
 top:105px;
line-height:0.02em;
 text-align:center;
 font-size:20px;
 color:red;
}


.header{
  background: url(img/alone.jpg) no-repeat 50% 30%;
  background-size:cover;
  height:50%;
  opacity:0.5;
}

.header-text{
  /*max-width:940px;
  margin:0 auto;*/
 position:relative;
 top:80%;
 text-align:center;
 font-size:28px;
 color:red;
}

.main-menu{
margin:1px;
text-align:center;
color: red;
font-size:28px;
/*margin-top:10px;*/
border-top:10px solid gray;

}
.wonderpolis{
 background: url(img/wonderpolis.jpg) no-repeat center;
background-size:contain;
display:inline-block;
height:100px;
padding:20px;
text-align:bottom center;

}
.civil-eng{
background: url(img/civil-engineering.jpg) no-repeat center;
background-size:contain;
display:inline-block;
height:100px;
padding:20px;
/*opacity:0.5;*/
}

.gen-interest{
 background: url(img/Gen-interest.jpg) no-repeat center;
background-size:contain;
display:inline-block;
height:90px;
padding:20px;
}

.hobby{
 background: url(img/hobby.jpg) no-repeat center;
background-size:contain;
display:inline-block;
height:100px;
padding:20px;
}
.others{
background: url(img/others.png) no-repeat center;
background-size:contain;
display:inline-block;
height:100px;
padding:20px;
}
footer{
position:relative;
top:75px;
text-align:center;
 font-size:12px;
 color:black;
border-top:10px solid gray;

}
a{
font-size:12px;
}
